.fullpic {
  list-style: none;
  padding: 0.5em;
}

.projectheader {
  text-align: center;
  color: #fff;
  background-attachment: scroll;
  background-image: url("{{ site.baseurl }}/img/header-bg.jpg");
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
